#a .track{
    -fx-background-color:cyan;
}
#b .track{
    -fx-background-color:cyan;
}
#c .track{
    -fx-background-color:cyan;
}
#d .track{
    -fx-background-color:cyan;
}
#e .track{
    -fx-background-color:cyan;
}
#f .track{
    -fx-background-color:cyan;
}
#g .track{
    -fx-background-color:cyan;
}
#h .track{
    -fx-background-color:cyan;
}
#i .track{
    -fx-background-color:cyan;
}
