* {
   color1:  black;
   color2: gold;
}
.jfx-slider > .track {
     -fx-background-color: #999;
}
#typeA > .thumb {
     -fx-background-color: color1;
}
#typeA > .colored-track {
     -fx-background-color: color1;
}
#typeA > .animated-thumb {
     -fx-background-color: color1;
}
#typeA .slider-value {
     -fx-fill: white;
     -fx-stroke: white;
}
#typeB > .thumb {
     -fx-background-color: color2;
}
#typeB > .colored-track {
     -fx-background-color: color2;
}
#typeB > .animated-thumb {
     -fx-background-color: color2;
}
#typeB .slider-value {
     -fx-fill: color1;
     -fx-stroke: color1;
}
